In [1]:
import pandas as pd

In [2]:
rawdata = pd.read_csv("purchase_data.csv")
rawdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [3]:
numOfPlayers = len(rawdata["SN"].unique())
numOfPlayers

576

# Purchasing Analysis (Total)

In [4]:
numOfItems = len(rawdata["Item Name"].unique())
averagePrice = round(rawdata["Price"].mean(), 2)
numOfPurchases = len(rawdata)
totalRevenue = round(sum(rawdata["Price"]), 2)

In [5]:
print(f"Number of unique items sold: {numOfItems}")
print(f"Average purchase price: ${averagePrice}")
print(f"Total number of purchases: {numOfPurchases}")
print(f"Total revenue: ${totalRevenue}")

Number of unique items sold: 179
Average purchase price: $3.05
Total number of purchases: 780
Total revenue: $2379.77

# Gender Demographics

In [6]:
uniqueSN = rawdata.drop_duplicates(subset = ["SN"])
uniquegender = rawdata.drop_duplicates(subset = ['Gender'])

male_df = rawdata.loc[rawdata['Gender'] == 'Male']
female_df = rawdata.loc[rawdata['Gender'] == 'Female']
nonbinary_df = rawdata.loc[rawdata['Gender'] == 'Other / Non-Disclosed']

numOfMale = len(male_df["SN"].unique())
numOfFemale = len(female_df["SN"].unique())
numOfOther = len(nonbinary_df["SN"].unique())

perMale = "{:.2%}".format(numOfMale / numOfPlayers)
perFemale = "{:.2%}".format(numOfFemale / numOfPlayers)
perOther = "{:.2%}".format(numOfOther / numOfPlayers)

print(f"Percentage and Count of Male Players: {perMale}, {numOfMale}")
print(f"Percentage and Count of Female Players: {perFemale}, {numOfFemale}")
print(f"Percentage and Count of undisclosed or nonbinary gender: {perOther}, {numOfOther}")

Percentage and Count of Male Players: 84.03%, 484
Percentage and Count of Female Players: 14.06%, 81
Percentage and Count of undisclosed or nonbinary gender: 1.91%, 11

# Purchasing Analysis (Gender)

The below each broken by gender

Purchase Count
Average Purchase Price
Total Purchase Value
Average Purchase Total per Person by Gender

# Males

In [7]:
malePurchases = len(male_df["Price"])
averageMalePrice = round(male_df["Price"].mean(), 2)
totalMaleRevenue = round(sum(male_df["Price"]), 2)
malePerPerson = round(totalMaleRevenue / len(male_df["SN"].unique()), 2)

print(f"Purchase Count: {malePurchases}")
print(f"Average Purchase Price: ${averageMalePrice}")
print(f"Total Purchase Value: ${totalMaleRevenue}")
print(f"Average Purchase Total per Person: ${malePerPerson}")

Purchase Count: 652
Average Purchase Price: $3.02
Total Purchase Value: $1967.64
Average Purchase Total per Person: $4.07

# Females

In [8]:
femalePurchases = len(female_df["Price"])
averageFemalePrice = round(female_df["Price"].mean(), 2)
totalFemaleRevenue = round(sum(female_df["Price"]), 2)
femalePerPerson = round(totalFemaleRevenue / len(female_df["SN"].unique()), 2)

print(f"Purchase Count: {femalePurchases}")
print(f"Average Purchase Price: ${averageFemalePrice}")
print(f"Total Purchase Value: ${totalFemaleRevenue}")
print(f"Average Purchase Total per Person: ${femalePerPerson}")

Purchase Count: 113
Average Purchase Price: $3.2
Total Purchase Value: $361.94
Average Purchase Total per Person: $4.47

# Other / Non-Disclosed

In [9]:
otherPurchases = len(nonbinary_df["Price"])
averageOtherPrice = round(nonbinary_df["Price"].mean(), 2)
totalOtherRevenue = round(sum(nonbinary_df["Price"]), 2)
otherPerPerson = round(totalOtherRevenue / len(nonbinary_df["SN"].unique()), 2)

print(f"Purchase Count: {otherPurchases}")
print(f"Average Purchase Price: ${averageOtherPrice}")
print(f"Total Purchase Value: ${totalOtherRevenue}")
print(f"Average Purchase Total per Person: ${otherPerPerson}")

Purchase Count: 15
Average Purchase Price: $3.35
Total Purchase Value: $50.19
Average Purchase Total per Person: $4.56

# Age Demografics

The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

Purchase Count (done)
Average Purchase Price (done)
Total Purchase Value (done)
Average Purchase Total per Person by Age Group

In [10]:
maxage = rawdata["Age"].max()
minage = rawdata["Age"].min()

In [11]:
#I know the max is 45, but this way the program will work even if older people buy things
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 44.9, 49.9, 54.9, 59.9,\
            64.9, 69.9, 74.9, 79.9, 84.9, 89.9, 94.9, 99.9, 99999]
age_groups = ["Less than 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49", \
              "50-54", "55-59", "60-64", "65-69", "70-74", "75-79", "80-84", "85-89", "90-94", "94-99", "Over 99"]

In [12]:
rawdata["Age Range"] = pd.cut(rawdata["Age"], age_bins, labels = age_groups, include_lowest = True)

In [20]:
totalbyage_df = rawdata.groupby(['Age Range']).sum()
totalbyage_df = totalbyage_df.rename(columns = {"Price" : "Total Price By Age"})
averagebyage_df = rawdata.groupby(['Age Range']).mean()
averagebyage_df = averagebyage_df.rename(columns = {"Price" : "Average Price By Age"})
countbyage_df = rawdata.groupby(['Age Range']).count()
countbyage_df = countbyage_df.rename(columns = {"Price" : "Purchase Count By Age"})
snbyage_df = rawdata.groupby(['Age Range'])['SN'].nunique()
snbyage_df

Age Range
Less than 10     17
10-14            22
15-19           107
20-24           258
25-29            77
30-34            52
35-39            31
40-44            11
45-49             1
Name: SN, dtype: int64

In [14]:
totalbyage_df = totalbyage_df[['Total Price By Age']]
averagebyage_df = averagebyage_df[['Average Price By Age']]
countbyage_df = countbyage_df[['Purchase Count By Age']]
countbyage_df

              Purchase Count By Age
Age Range
Less than 10                     23
10-14                            28
15-19                           136
20-24                           365
25-29                           101
30-34                            73
35-39                            41
40-44                            12
45-49                             1
50-54                             0
55-59                             0
60-64                             0
65-69                             0
70-74                             0
75-79                             0
80-84                             0
85-89                             0
90-94                             0
94-99                             0
Over 99                           0

In [15]:
rawdata = rawdata.set_index("Age Range")
rawdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Range,,,,,,,
20-24,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
40-44,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
20-24,2,Ithergue48,24,Male,92,Final Critic,4.88
20-24,3,Chamassasya86,24,Male,100,Blindscythe,3.27
20-24,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
lessrawdata = pd.merge(rawdata, totalbyage_df, on = "Age Range", how = "outer")
lessrawdata = pd.merge(lessrawdata, averagebyage_df, on = "Age Range", how = "outer")
lessrawdata = pd.merge(lessrawdata, countbyage_df, on = "Age Range", how = "outer")
lessrawdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Price By Age,Average Price By Age,Purchase Count By Age
Age Range,,,,,,,,,,
20-24,0.0,Lisim78,20.0,Male,108.0,"Extraction, Quickblade Of Trembling Hands",3.53,1114.06,3.052219,365
20-24,2.0,Ithergue48,24.0,Male,92.0,Final Critic,4.88,1114.06,3.052219,365
20-24,3.0,Chamassasya86,24.0,Male,100.0,Blindscythe,3.27,1114.06,3.052219,365
20-24,4.0,Iskosia90,23.0,Male,131.0,Fury,1.44,1114.06,3.052219,365
20-24,5.0,Yalae81,22.0,Male,81.0,Dreamkiss,3.61,1114.06,3.052219,365

In [17]:
lessrawdata = lessrawdata.dropna(how = "any")
lessrawdata

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Price By Age,Average Price By Age,Purchase Count By Age
Age Range,,,,,,,,,,
20-24,0.0,Lisim78,20.0,Male,108.0,"Extraction, Quickblade Of Trembling Hands",3.53,1114.06,3.052219,365
20-24,2.0,Ithergue48,24.0,Male,92.0,Final Critic,4.88,1114.06,3.052219,365
20-24,3.0,Chamassasya86,24.0,Male,100.0,Blindscythe,3.27,1114.06,3.052219,365
20-24,4.0,Iskosia90,23.0,Male,131.0,Fury,1.44,1114.06,3.052219,365
20-24,5.0,Yalae81,22.0,Male,81.0,Dreamkiss,3.61,1114.06,3.052219,365
...,...,...,...,...,...,...,...,...,...,...
15-19,764.0,Saedaiphos46,18.0,Male,113.0,Solitude's Reaver,4.07,412.89,3.035956,136
15-19,765.0,Irith83,18.0,Male,130.0,Alpha,2.07,412.89,3.035956,136
15-19,769.0,Ilosian36,15.0,Male,145.0,Fiery Glass Crusader,4.58,412.89,3.035956,136
15-19,771.0,Iskossasda43,16.0,Male,25.0,Hero Cane,4.35,412.89,3.035956,136
45-49,761.0,Assim27,45.0,Male,17.0,"Lazarus, Terror of the Earth",1.70,1.70,1.700000,1