In [1]:
import pandas as pd

In [2]:
rawdata = pd.read_csv("purchase_data.csv")
rawdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [3]:
numOfPlayers = len(rawdata["SN"].unique())
numOfPlayers

576

# Purchasing Analysis (Total)

In [4]:
numOfItems = len(rawdata["Item Name"].unique())
averagePrice = round(rawdata["Price"].mean(), 2)
numOfPurchases = len(rawdata)
totalRevenue = round(sum(rawdata["Price"]), 2)

In [5]:
print(f"Number of unique items sold: {numOfItems}")
print(f"Average purchase price: ${averagePrice}")
print(f"Total number of purchases: {numOfPurchases}")
print(f"Total revenue: ${totalRevenue}")

Number of unique items sold: 179
Average purchase price: $3.05
Total number of purchases: 780
Total revenue: $2379.77

# Gender Demographics

Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed

In [39]:
uniqueSN = rawdata.drop_duplicates(subset = ["SN"])

numOfMale = 0
numOfFemale = 0
numOfOther = 0

for gender in uniqueSN['Gender']:
    if gender == 'Male':
        numOfMale += 1
    elif gender == 'Female':
        numOfFemale += 1
    else:
        numOfOther += 1

perMale = "{:.2%}".format(numOfMale / numOfPlayers)
perFemale = "{:.2%}".format(numOfFemale / numOfPlayers)
perOther = "{:.2%}".format(numOfOther / numOfPlayers)

print(f"Percentage and Count of Male Players: {perMale}, {numOfMale}")
print(f"Percentage and Count of Female Players: {perFemale}, {numOfFemale}")
print(f"Percentage and Count of undisclosed or nonbinary gender: {perOther}, {numOfOther}")

Percentage and Count of Male Players: 84.03%, 484
Percentage and Count of Female Players: 14.06%, 81
Percentage and Count of undisclosed or nonbinary gender: 1.91%, 11