In [1]:
import pandas as pd

In [2]:
rawdata = pd.read_csv("purchase_data.csv")
rawdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [3]:
numOfPlayers = len(rawdata["SN"].unique())
numOfPlayers

576

# Purchasing Analysis (Total)

In [4]:
numOfItems = len(rawdata["Item Name"].unique())
averagePrice = round(rawdata["Price"].mean(), 2)
numOfPurchases = len(rawdata)
totalRevenue = round(sum(rawdata["Price"]), 2)

In [5]:
print(f"Number of unique items sold: {numOfItems}")
print(f"Average purchase price: ${averagePrice}")
print(f"Total number of purchases: {numOfPurchases}")
print(f"Total revenue: ${totalRevenue}")

Number of unique items sold: 179
Average purchase price: $3.05
Total number of purchases: 780
Total revenue: $2379.77

# Gender Demographics

In [6]:
uniqueSN = rawdata.drop_duplicates(subset = ["SN"])
uniquegender = rawdata.drop_duplicates(subset = ['Gender'])

male_df = rawdata.loc[rawdata['Gender'] == 'Male']
female_df = rawdata.loc[rawdata['Gender'] == 'Female']
nonbinary_df = rawdata.loc[rawdata['Gender'] == 'Other / Non-Disclosed']

numOfMale = len(male_df["SN"].unique())
numOfFemale = len(female_df["SN"].unique())
numOfOther = len(nonbinary_df["SN"].unique())

perMale = "{:.2%}".format(numOfMale / numOfPlayers)
perFemale = "{:.2%}".format(numOfFemale / numOfPlayers)
perOther = "{:.2%}".format(numOfOther / numOfPlayers)

print(f"Percentage and Count of Male Players: {perMale}, {numOfMale}")
print(f"Percentage and Count of Female Players: {perFemale}, {numOfFemale}")
print(f"Percentage and Count of undisclosed or nonbinary gender: {perOther}, {numOfOther}")

Percentage and Count of Male Players: 84.03%, 484
Percentage and Count of Female Players: 14.06%, 81
Percentage and Count of undisclosed or nonbinary gender: 1.91%, 11

# Purchasing Analysis (Gender)

The below each broken by gender

Purchase Count
Average Purchase Price
Total Purchase Value
Average Purchase Total per Person by Gender

# Males

In [7]:
malePurchases = len(male_df["Price"])
averageMalePrice = round(male_df["Price"].mean(), 2)
totalMaleRevenue = round(sum(male_df["Price"]), 2)

print(f"Purchase Count: {malePurchases}")
print(f"Average Purchase Price: {averageMalePrice}")
print(f"Total Purchase Value: {totalMaleRevenue}")

SyntaxError: invalid syntax (<ipython-input-7-9f6e17135f68>, line 5)

# Females

In [ ]:
femalePurchases = len(female_df["Price"])
averageFemalePrice = round(female_df["Price"].mean(), 2)
totalFemaleRevenue = round(sum(female_df["Price"]), 2)

print(f"Purchase Count: {femalePurchases}")
print(f"Average Purchase Price: {averageFemalePrice}")
print(f"Total Purchase Value: {totalFemaleRevenue}")

# Other / Non-Disclosed

In [ ]:
otherPurchases = len(nonbinary_df["Price"])
averageOtherPrice = round(nonbinary_df["Price"].mean(), 2)
totalOtherRevenue = round(sum(nonbinary_df["Price"]), 2)

print(f"Purchase Count: {otherPurchases}")
print(f"Average Purchase Price: {averageOtherPrice}")
print(f"Total Purchase Value: {totalOtherRevenue}")