In [1]:
import pandas as pd

In [2]:
rawdata = pd.read_csv("purchase_data.csv")
rawdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [3]:
numOfPlayers = len(rawdata["SN"].unique())
numOfPlayers

576

# Purchasing Analysis (Total)

In [4]:
numOfItems = len(rawdata["Item Name"].unique())
averagePrice = round(rawdata["Price"].mean(), 2)
numOfPurchases = len(rawdata)
totalRevenue = round(sum(rawdata["Price"]), 2)

In [5]:
print(f"Number of unique items sold: {numOfItems}")
print(f"Average purchase price: ${averagePrice}")
print(f"Total number of purchases: {numOfPurchases}")
print(f"Total revenue: ${totalRevenue}")

Number of unique items sold: 179
Average purchase price: $3.05
Total number of purchases: 780
Total revenue: $2379.77

# Gender Demographics

Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed

In [7]:
numOfMale = 0
numOfFemale = 0
numOfOther = 0

for sn in rawdata["SN"].unique():
    if rawdata["Gender"] == 'Male':
        numOfMale += 1
    elif rawdata["Gender"] == 'Female':
        numOfFemale += 1
    else:
        numOfOther += 1
print(f"Number of male players: {numOfMale}")
print(f"Number of female players: {numOfFemale}")
print(f"Number of players of undisclosed or nonbinary gender: {numOfOther}")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().